/*body*/
body {
font-family:'metropolis medium', arial, sans-serif;

}
.container-fluid{
  max-width: 1540px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border:none;
  }

div.headerbg{
  background-image: url(./image/etudiante.png);
  background-repeat: no-repeat;
  background-size: 600px;
  height:700px;
  background-position-x: right;
  background-position-y: bottom;
}

a.border {
    border: solid 2px #717cff!important;
    border-radius: .75em!important;
    width: 80px!important;
}

ul li a.active span, .nav-link span:hover{
border-bottom: 2px solid #717cff!important;
}
.headertitle h1 span{
  color:#717cff;
}
.titlerow{
display:block;
}
.headertitle{
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.headerbtn .btn{
background-color: #717cff;
color:#FFFF;
margin-bottom: 15vh;
}
.newsbtn .btn{
background-color: #717cff;
color:#FFFF;
margin-top: 10vh;
margin-left:45vw;
}
.newsbtn{
width :100%;
}
.readybtn .btn{
  background-color: #717cff;
  color:#FFFF;
}
.slideshow-container {
  background-color: #FAFAFA;
  height: 60vh;
  margin: auto;
  position:relative;
}

.mySlidesfeatures {
  height: 20vh;
  display: table-cell;
  width: 100%;
}


div .sliderfeatures, div .slidereventscards{
  display:flex!important;
  justify-content: space-around;
}
/* Hide the images by default */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.dot.active, .dot:hover {
  background-color: #717171;
}

.fontfeatures h3{
  font-size:30px;
}

.ourservices{
  height: 900px;
}
.servicescards, .newscards, .eventscards, .countriescards, .testimonialscards {
  width: 20rem;
  border-radius: 0.5rem;
  border:none;
}

.events{
  height:120vh;
}
.footerbgcolor{
  background-color:#717cff;
}

.footerfavicons {
  padding-top: 180px;
}

@media screen and (max-width: 692px){
  div.headerbg{
  background-image: none;
  }
}
/*backoffice*/
#connexion{
  display: none;
}
#inscription{
  display: none;
}

h3 {
  color: #8471FF;
}
.back a{
  text-decoration-color: #8471FF;;
  color: black;
}
.back a:hover{
  color: #8471FF;
}
.italique{
  font-style: italic;
}
.form, .all{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* #form_countries{
  display: none;
} */
#form_events{
  display: none;
}
#form_news{
  display: none;
}
#form_services{
  display: none;
}
#form_testimonial{
  display: none;
}
#form_all{
  display: none;
}
.sidebar button{
  margin-bottom: 2rem;
  padding: 1rem;
  width: 25.5rem;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.sidebar{
  padding-top: 5rem;
  height: 100vh;
  background-color: #8471FF;
}
.btn-primary{
  background-color: #8471FF;
  border-color: #8471FF;
}
.btn-primary:hover{
  background-color: white;
  color: #8471FF;
  border-color: #8471FF;
}
table{
  width: 55rem;
  border-collapse: separate;
}
